.button-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
    background-color: #e7e7db;
    color: darkred;
    border-color: darkred;
}

.modal-content {
    line-height: 1.4;
    background-color: #e7e7db;
    padding: 14px 28px;
    border-radius: 3px;
    border-color: darkred;
    /* width: 700px;
    min-width: 300px; */
}

.close {
    position: absolute;
    top: 17px;
    right: 17px;
    padding: 5px 7px;
    background-color: darkred;
    color: #e7e7db;
}

.prettyButton {
    padding: 5px 7px;
    background-color: darkred;
    color: #e7e7db;
    min-width: 100px;
}

.x {
    font-family: Imported;
    font-size: 25px;
    position: absolute;
    /* border-style: solid; */
    color: black;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #9e0b0f;
    color: #e7e7db;
    border-radius: 5px;
    right: 1px;
    height: 4vh;
    width: 2vw;
}

.create_post {
    font-family: Imported;
    font-size: 40px;
    /* border-style: solid; */
    color: black;
    gap: 5px;
    margin-top: 50px;
    margin-bottom: -20px;
}

.create_post2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    /* border-style: solid; */
    color: #9e0b0f;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.button_submit {
    font-family: Imported;
    height: 4vh;
    width: 7vw;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    align-self: center;
    border-radius: 5px;
    /*border-color: #e7e7db;*/
    background-color: #9e0b0f;
    color: #e7e7db;
}
