.modal-content {
    line-height: 1.4;
    background-color: #e7e7db;
    padding: 14px 28px;
    border-radius: 3px;
    border-color: darkred;
}

.x {
    font-family: Imported;
    font-size: 25px;
    position: absolute;
    /* border-style: solid; */
    color: black;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #9e0b0f;
    color: #e7e7db;
    border-radius: 5px;
    right: 1px;
    height: 4vh;
    width: 2vw;
}

.create_post {
    font-family: Imported;
    font-size: 40px;
    /* border-style: solid; */
    color: black;
    gap: 5px;
    margin-top: 50px;
    margin-bottom: -20px;
}

.create_post2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    /* border-style: solid; */
    color: #9e0b0f;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.button_submit {
    font-family: Imported;
    height: 4vh;
    width: 7vw;
    margin: 5px;
    text-align: center;
    font-size: 22px;
    align-self: center;
    border-radius: 5px;
    background-color: #9e0b0f;
    color: #e7e7db;
}
