.profile-container h1 {
    text-align: center;
    font-size: 4rem;
    padding-top: 100px;
}
.profile-container p {
    margin: 0;
}
.profile-container h3 {
    margin: 1.5rem;
}

.filler {
    height: 12%;
    max-height: 90px;
    border-radius: 15px 15px 0px 0px;
    background-color: #9e0b0f;
}

.container {
    display: flex;
    margin: 3rem;
}

.sub-container {
    margin: 10px;
}

/* info */
.sub-container:first-child {
    width: 30%;
    min-height: 475px;
    box-shadow: 0px 1px 5px 0.2px #9e0b0f;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    font-size: 3rem;
}

.info-tag {
    padding-top: 5px;
    font-size: 1.5rem;
}

.info {
    font-size: 2rem;
}

/* profile sections */
.sub-container:nth-child(2) {
    display: block;
    width: 70%;
}

.section-toggle {
    width: 100%;
    height: 20%;
    max-height: 90px;
}

.toggle-options {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0;
}

.toggle-options li {
    list-style: none;
    height: 100%;
    width: 100%;
    border: 2px black solid;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 1px 5px 0.2px #9e0b0f;
    text-align: center;
}

.toggle-options li button {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    text-decoration: none;
    font-size: 2rem;
    color: black;
    background-color: white;
    border: none;
}

.toggle-options button:hover,
.toggle-options button:active {
    color: #9e0b0f;
    background-color: #e7e7db;
}

.section {
    border: 2px solid black;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 1px 5px 0.2px #9e0b0f;
    width: 100%;
    height: 450px;
    overflow: scroll;
}

/* edit profile section */
h3 {
    text-align: center;
}

.edit-parent {
    display: flex;
    flex-wrap: wrap;
}

.edit-item {
    flex-basis: 50%;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    text-align: center;
    width: 100%;
    height: 80%;
    border-radius: 15px;
}

.edit button {
    width: 8rem;
    height: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    background-color: #9e0b0f;
    color: white;
}

body {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #e7e7db;
    background-position: center;
    height: "100vh";
    width: "100vw";
    background-size: "cover";
    background-repeat: "no-repeat";
    font-family: Imported;
}

/* My Postings section */
.post-grid {
    display: flex;
    flex-wrap: wrap;
}
.test {
    border: 1px solid black;
    width: 33%;
    height: 30vh;
}

.ew {
    display: block;
    font-family: arial;
    font-size: 0.5rem;
    width: 80%;
    height: 20%;
}

.theContainer {
    padding: 15px;
}

.theSection {
    width: 50%;
    padding: 15px;
    float: left;
}
